@page
@model Banking.Pages.IndexModel
@{
}

<html>
<div class="centered">  
    <h1 class="display-4">Welcome To Hello World Bank</h1>
    <h2>Please Login or Register a New Account</h2>
</div>
</html>
