@page
@model PrivacyModel
@{
    ViewData["Title"] = "Policy Info";
}
<h1>@ViewData["Title"]</h1>

<p>Use this site was design, built, and commited by Group_7 of CS 3750 class.</p>

<p>Group_7 is comprised of Kolby, Cayden, And Aric </p>

<p>Built in net core 6 with C#, HTML, CSS, and MSSQL, complied in VS22</p>
